version: '3'

services:
  orulo:
    build: ./backend
    image: orulo/backend
    container_name: orulo_backend
    restart: always
    command: bash -c 'while ! nc db 5432 </dev/null; do sleep 1; done && /usr/src/app/bin/rails db:migrate && /usr/src/app/bin/rails s -p 8000 -b 0.0.0.0'
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/orulo
    ports:
      - 8000:8000
    links:
      - db

  db:
    image: postgres
    restart: always
    container_name: db_orulo
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orulo
    ports:
      - 5432:5432
    volumes:
      - db_orulo:/var/lib/postgres/data

volumes:
  db_orulo: